* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
}
body {
  background-color: rgb(0, 0, 0);
}

.java {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dlm-java {
  padding: 20px;
  text-align: center;
  height: 30vh;
  width: 50%;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.364);
  color: aliceblue;
  background-color: rgba(255, 255, 255, 0.176);
}
